.wrapper {
  justify-content: space-between;
  flex-direction: column;
  background-color: $GRAY_ED;
  height: 100%;
  h2 {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    column-gap: 20px;
    margin-top: 40px;
    padding: 16px;
    width: 500px;
    height: 92px;
    background-color: $GRAY_3A;
    color: $WHITE;
    border-radius: 22px;
    .room__num {
      width: 72px;
      height: 64px;
      border-radius: 28px;
      background-color: $SUB_YELLOW;
      color: $GRAY_3A;
    }
    .room__title {
      align-self: center;
    }
    .subway1 {
      width: 44px;
      height: 44px;
      align-self: center;
    }
  }
  .startBtn {
    width: 200px;
    height: 70px;
    border: 4px solid $GRAY_3A;
    border-radius: 20px;
    color: $GRAY_3A;
    text-transform: uppercase;
    background-color: $WHITE;
    &:hover {
      border: 4px solid $GRAY_3A;
      color: $WHITE;
      background-color: $GRAY_3A;
    }
  }
}

.userList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 36px;
  height: 60%;
  align-content: center;
  .user {
    width: 224px;
    height: 340px;
    border-radius: 44px;
    background-color: $GRAY_5F;
    .subway2 {
      width: 30%;
    }
    .username {
      margin: 28px 0;
      color: $WHITE;
      cursor: pointer;
    }
    .visible {
      width: 86px;
      height: 38px;
      border-radius: 22px;
      background-color: $SUB_YELLOW;
    }
    .invisible {
      visibility: hidden;
      width: 86px;
      height: 38px;
      border-radius: 22px;
      background-color: $SUB_YELLOW;
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 1004px;
  margin-bottom: 40px;
  .chair1 {
    grid-column-start: span 2;
  }
  .startBtn {
    grid-column-start: span 4;
    justify-self: center;
    align-self: center;
    cursor: pointer;
  }
  .chair2 {
    grid-column-start: -2;
  }
}

.modal__label {
  margin-right: 10px;
}
.modal__input {
  border-bottom: 1px solid $BLACK;
  width: 440px;
}

@media screen and (max-width: $DESKTOP-VW) {
  .wrapper {
    width: 100%;
    h2 {
      column-gap: vw(20px);
      margin-top: vw(40px);
      padding: vw(16px);
      width: vw(500px);
      height: vw(92px);
      border-radius: vw(22px);
      .room__num {
        width: vw(72px);
        height: vw(64px);
        border-radius: vw(28px);
      }
      .subway1 {
        width: vw(44px);
        height: vw(44px);
      }
    }
    .startBtn {
      width: vw(200px);
      height: vw(70px);
      border: vw(4px) solid $GRAY_3A;
      border-radius: vw(20px);
      &:hover {
        border: vw(4px) solid $GRAY_3A;
      }
    }
  }
  .userList {
    column-gap: vw(36px);
    .user {
      width: vw(224px);
      height: vw(340px);
      border-radius: vw(44px);
      .username {
        margin: vw(28px) 0;
      }
      .visible {
        width: vw(86px);
        height: vw(38px);
        border-radius: vw(22px);
      }
      .invisible {
        width: vw(86px);
        height: vw(38px);
        border-radius: vw(22px);
      }
    }
  }
  .footer {
    width: vw(1004px);
    margin-bottom: vw(40px);
  }

  .modal__label {
    margin-right: vw(10px);
  }
  .modal__input {
    width: vw(440px);
  }
}

@media screen and (max-width: $TABLET-VW) {
  .wrapper {
    width: 100%;
    height: 100%;
    h2 {
      width: 316px;
      height: 56px;
      margin-top: 30px;
      display: grid;
      grid-template-columns: 1fr 5fr 1fr;
      column-gap: 20px;
      padding: 10px 18px;
      border-radius: 22px;
      font-size: 22px;
      .room__num {
        width: 46px;
        height: 36px;
        border-radius: 22px;
        font-size: 16px;
      }
      .room__title {
        align-self: center;
        font-size: 22px;
      }
      .subway1 {
        width: 24px;
        height: 24px;
      }
    }
    .startBtn {
      width: 200px;
      height: 70px;
      border: 4px solid $GRAY_3A;
      border-radius: 20px;
      color: $GRAY_3A;
      text-transform: uppercase;
      &:hover {
        border: 4px solid $GRAY_3A;
        color: $WHITE;
      }
    }
  }

  .userList {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 18px;
    column-gap: 0;
    .user {
      width: 136px;
      height: 208px;
      border-radius: 24px;
      place-self: center center;
      .subway2 {
        width: 30%;
      }
      .username {
        margin: 28px 0;
        font-size: 20px;
      }
      .visible {
        width: 86px;
        height: 38px;
        border-radius: 22px;
        font-size: 20px;
      }
      .invisible {
        display: none;
        width: 86px;
        height: 38px;
        border-radius: 22px;
        font-size: 20px;
      }
    }
  }

  .footer {
    width: 80%;
    margin-bottom: 30px;
    .chair1 {
    }
    .startBtn {
      width: 150px;
      height: 52px;
      font-size: 24px;
      cursor: pointer;
    }
    .chair2 {
    }
  }
  .modal__label {
    margin-right: 0;
  }
  .modal__input {
    width: 240px;
    margin-top: 20px;
  }
}

@media screen and (max-width: $PHONE-VW) {
  .wrapper {
    h2 {
      width: vw-p(316px);
      height: vw-p(56px);
      margin-top: vw-p(30px);
      column-gap: vw-p(20px);
      padding: vw-p(10px) vw-p(18px);
      border-radius: vw-p(22px);
      font-size: vw-p(22px);
      .room__num {
        width: vw-p(46px);
        height: vw-p(36px);
        border-radius: vw-p(22px);
        font-size: vw-p(16px);
      }
      .room__title {
        font-size: vw-p(22px);
      }
      .subway1 {
        width: vw-p(24px);
        height: vw-p(24px);
      }
    }
    .startBtn {
      width: vw-p(200px);
      height: vw-p(70px);
      border: vw-p(4px) solid $GRAY_3A;
      border-radius: vw-p(20px);
      &:hover {
        border: vw-p(4px) solid $GRAY_3A;
      }
    }
  }

  .userList {
    row-gap: vw-p(18px);
    .user {
      width: vw-p(136px);
      height: vw-p(208px);
      border-radius: vw-p(24px);
      .username {
        margin: vw-p(28px) 0;
        font-size: vw-p(20px);
      }
      .visible {
        width: vw-p(86px);
        height: vw-p(38px);
        border-radius: vw-p(22px);
        font-size: vw-p(20px);
      }
      .invisible {
        width: vw-p(86px);
        height: vw-p(38px);
        border-radius: vw-p(22px);
        font-size: vw-p(20px);
      }
    }
  }

  .footer {
    margin-bottom: vw-p(30px);
    .startBtn {
      width: vw-p(150px);
      height: vw-p(52px);
      font-size: vw-p(24px);
    }
  }
  .modal__label {
  }
  .modal__input {
    width: vw-p(240px);
    margin-top: vw-p(20px);
  }
}
