@mixin fixedLayout {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.root {
  height: 100%;
  padding-bottom: 70px;
}
.card {
  z-index: 3;
  opacity: 0;
  animation: showCard 0.5s ease-in-out 3.5s forwards;

  .button {
    margin-top: vw(24px);

    width: min-content;
    padding: vw(8px) vw(16px);

    border-width: 4px;
    border-style: solid;

    border-radius: vw(10px);
    color: white;

    white-space: nowrap;
    &:hover {
      opacity: 0.7;
    }
  }
  .noData {
    // margin-top: vw(500px);
    padding: vw(20px);
    border-radius: vw(20px);
    background-color: white;
  }
}

.dimmer {
  @include fixedLayout();
  width: 100%;
  animation: dimmer 1s ease-in-out 3s forwards;
}

.wrapper {
  @include fixedLayout();
  width: 600%;
  animation: slide 3s cubic-bezier(0.72, 0, 0.65, 1.17) forwards;
}

@keyframes dimmer {
  to {
    background-color: $GRAY_D9;
    opacity: 0.6;
  }
}

@keyframes slide {
  to {
    transform: translateX(vw(-7200px));
  }
}

@keyframes showCard {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: $TABLET-VW) {
  .card {
    .noData {
      font-size: 20px;
    }

    .button {
      margin-top: (24px);
      padding: (8px) (16px);

      border-width: 4px;
      border-style: solid;

      border-radius: (20px);

      font-size: 20px;
    }
  }
}

@media screen and (max-width: $PHONE-VW) {
  .card {
    .noData {
      font-size: vw-p(20px);
    }

    .button {
      margin-top: vw-p(24px);
      padding: vw-p(8px) vw-p(16px);

      border-width: vw-p(4px);

      border-radius: vw-p(20px);
    }
  }
}
