.subway {
  position: relative;
  width: 100%;
  height: 100%;

  div[id="line-container"] {
    position: absolute;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  div[id="lineSearch"],
  ul[id="lineCircleList"],
  div[id="map-btn"] > button {
    z-index: 3;
  }
  div[id="metroMap"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: (60px);

    z-index: 2;
  }

  div[id="map-btn"] {
    position: absolute;
    right: 0;
    bottom: (168px);

    button {
      margin-right: (20px);
      width: (48px);
      height: (48px);
      padding: 8px;

      background-color: white;
      border-radius: 50%;
      border: 1px solid $GRAY_BA;
      & + button {
        margin-top: (4px);
      }
    }
  }
  div[id="select-container"] {
    position: absolute;
    bottom: (68px);
    z-index: 6;
    width: 100%;
  }
  // .btn {
  //   position: absolute;
  //   bottom: (168px);
  //   z-index: 5;
  //   width: (280px);
  //   height: (72px);

  //   border-radius: (20px);
  //   color: $MAIN;
  //   background-color: $WHITE;
  //   border: 6px solid $MAIN;

  //   &:hover {
  //     color: $WHITE;
  //     background-color: $MAIN;
  //   }
  // }
}

@media screen and (max-width: $DESKTOP-VW) {
  .subway {
    div[id="map-btn"] {
      bottom: vw(168px);

      button {
        margin-right: vw(20px);
        width: vw(48px);
        height: vw(48px);
        padding: vw(8px);
        & + button {
          margin-top: vw(4px);
        }
      }
    }
    .btn {
      bottom: vw(168px);
      width: vw(280px);
      height: vw(72px);

      border-radius: vw(20px);
    }
    // .btn {
    //   bottom: vw(168px);
    //   width: vw(280px);
    //   height: vw(72px);

    //   border-radius: vw(20px);
    // }
  }
}

@media screen and (max-width: $TABLET-VW) {
  .subway {
    div[id="metroMap"] {
      padding-top: 40px;
    }

    div[id="map-btn"] {
      bottom: 180px;

      button {
        margin-right: (12px);
        width: (36px);
        height: (36px);
        padding: (6px);
        image {
          width: 30px;
        }
        & + button {
          margin-top: (4px);
        }
      }
    }
    div[id="select-container"] {
      width: 390px;

      bottom: (20px);
      & > div {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    // .btn {
    //   bottom: (168px);
    //   width: (160px);
    //   height: (48px);
    //   font-size: 20px;
    //   border-radius: (20px);
    // }
  }
}

@media screen and (max-width: $PHONE-VW) {
  .subway {
    div[id="metroMap"] {
      padding-top: (40px);
    }

    div[id="map-btn"] {
      bottom: vw-p(180px);

      button {
        margin-right: vw-p(12px);
        width: vw-p(36px);
        height: vw-p(36px);
        padding: vw-p(6px);
        & + button {
          margin-top: vw-p(4px);
        }
      }
    }
  }
}
