.subway {
  position: relative;
  width: 100%;
  height: 100%;

  div[id="line-container"] {
    position: absolute;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  div[id="metroMap"] {
    // position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: (70px);
  }

  div[id="map-btn"] {
    position: absolute;
    right: 0;
    bottom: (168px);

    button {
      margin-right: (20px);
      width: (48px);
      height: (48px);

      background-color: white;
      border-radius: 50%;
      border: 1px solid $GRAY_BA;
      & + button {
        margin-top: (4px);
      }
    }
  }
  div[id="select-container"] {
    position: absolute;
    bottom: (68px);

    width: 100%;
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  .subway {
    // position: relative;
    // width: 100%;
    // height: 100%;

    // div[id="line-container"] {
    //   position: absolute;
    //   width: 100%;
    //   flex-wrap: wrap;
    //   justify-content: space-between;
    // }

    div[id="metroMap"] {
      // position: absolute;
      // position: fixed;
      // top: 0;
      // left: 0;
      // width: 100%;
      // height: 100%;
      padding-top: vw(70px);
    }

    div[id="map-btn"] {
      // position: absolute;
      // right: 0;
      bottom: vw(168px);

      button {
        margin-right: vw(20px);
        width: vw(48px);
        height: vw(48px);

        // background-color: white;
        // border-radius: 50%;
        // border: 1px solid $GRAY_BA;
        & + button {
          margin-top: vw(4px);
        }
      }
    }
    div[id="select-container"] {
      // position: absolute;
      bottom: vw(68px);

      // width: 100%;
    }
  }
}
