.wrapper {
  height: 100%;
  background-color: $GRAY_ED;
  padding-top: 20px;
  .station {
    width: 70%;
  }
  .roomList {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 414px);
    grid-auto-rows: 100px;
    column-gap: 64px;
    row-gap: 30px;
    height: 60%;
    padding: 16px;
    overflow: auto;
    .room {
      padding: 18px 30px;
      width: 414px;
      height: 100px;
      border-radius: 22px;
      background-color: $GRAY_3A;
      cursor: pointer;
      &:hover {
        transform: scale(1.05) translateY(-8px);
      }
      p {
        color: $WHITE;
        span {
          margin-right: 24px;
          padding: 12px;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background-color: $WHITE;
          color: $GRAY_3A;
        }
      }
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 414px);
  column-gap: 64px;
  row-gap: 30px;
  margin-top: 44px;
  justify-self: flex-end;
  .chair1 {
    width: 40%;
  }
  button {
    grid-column-start: 2;
    justify-self: flex-end;
    align-self: flex-start;
    margin-top: 20px;
    width: 164px;
    height: 56px;
    border: 4px solid $L1;
    border-radius: 20px;
    background-color: $WHITE;
    color: $L1;
    &:hover {
      background-color: $L1;
      color: $WHITE;
    }
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  .wrapper {
    padding-top: vw(20px);
    .roomList {
      margin-top: vw(50px);
      grid-template-columns: repeat(2, vw(414px));
      grid-auto-rows: vw(100px);
      column-gap: vw(64px);
      row-gap: vw(30px);
      padding: vw(16px);
      .room {
        padding: vw(18px) vw(30px);
        width: vw(414px);
        height: vw(100px);
        p {
          span {
            margin-right: vw(24px);
            padding: vw(12px);
            width: vw(64px);
            height: vw(64px);
          }
        }
      }
    }
  }
  .footer {
    grid-template-columns: repeat(2, vw(414px));
    margin-top: vw(44px);
    button {
      width: vw(164px);
      height: vw(56px);
    }
  }
}
