.wrapper {
  width: 100%;
  height: 100%;
  background-color: $GRAY_ED;
  h2 {
    // width: vw(554px);
    // height: vw(100px);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 158px;
    border-radius: 22px;
    background-color: $GRAY_3A;
    color: $WHITE;
    span {
      color: $SUB_YELLOW;
    }
  }
}

.userList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 44px;
  margin-bottom: 130px;
  .user {
    width: 202px;
    height: 68px;
    border-radius: 22px;
    background-color: $GRAY_5F;
    color: $WHITE;
  }
}

.line {
  margin-bottom: 100px;
  width: 100%;
  height: 90px;
  background-color: $LS;
  .circle {
    width: vw(292px);
    height: vw(292px);
    border: 20px solid $LS;
    border-radius: 50%;
    text-align: center;
    background-color: $WHITE;
    input {
      width: vw(40px);
      background: none;
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin-top: 30px;
  button {
    color: $GRAY_3A;
    &:hover {
      color: $LS;
    }
  }
  .chair2 {
    justify-self: flex-end;
    width: 30%;
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  .wrapper {
    h2 {
      margin-top: vw(30px);
      margin-bottom: vw(30px);
      padding: vw(30px) vw(158px);
    }
  }
  
  .userList {
    column-gap: vw(44px);
    margin-bottom: vw(130px);
    .user {
      width: vw(202px);
      height: vw(68px);
    }
  }
  
  .line {
    margin-bottom: vw(100px);
    height: vw(90px);
    .circle {
      width: vw(292px);
      height: vw(292px);
      input {
        width: vw(40px);
      }
    }
  }
  .footer {
    margin-top: vw(30px);
  }
}