altgraph==0.17.2
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.6.15
charset-normalizer==2.1.1
future==0.18.2
idna==3.3
numpy==1.23.3
ordereddict==1.1
pandas==1.4.4
pefile==2022.5.30
pyinstaller==5.4.1
pyinstaller-hooks-contrib==2022.10
python-dateutil==2.8.2
pytz==2022.2.1
pywin32-ctypes==0.2.0
requests==2.28.1
selenium==3.14.1
six==1.16.0
soupsieve==2.3.2.post1
starbase==0.3.3
urllib3==1.26.12
