.root {
  height: 100%;
  .children {
    width: 1440px;
    height: calc(100% - 70px);

    margin-top: 70px;
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  .root {
    .children {
      width: vw(1440px);
    }
  }
}
@media screen and (max-width: $TABLET-VW) {
  .root {
    .children {
      width: vw-t(1440px);
    }
  }
}
@media screen and (max-width: $PHONE-VW) {
  .root {
    .children {
      width: vw-p(1440px);
    }
  }
}
