.root {
  height: 100%;
  .children {
    width: 1440px;
    height: calc(100vh - 70px);

    margin-top: 70px;
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  .children {
    width: vw(1440px);
  }
}
