.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    cursor: pointer;
  }
  .modal__box {
    position: absolute;
    width: 60%;
    margin: 0 10%;
    padding: 30px;
    border-radius: 20px;
    background-color: $WHITE;
    color: $BLACK;
    align-items: center;
    .modal__btn {
      align-self: flex-end;
      line-height: 30px;
      transition: transform .25s ease-in-out;
      &:hover {
        transform: rotate(180deg);
      }
    }
    .children {
      width: 80%;
    }
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  .modal {
    .modal__box {
      padding: vw(30px);
      .modal__btn {
        line-height: vw(30px);
      }
    }
  }
}


@media screen and (max-width: $TABLET-VW) {
  .modal {
    .modal__box {
      width: 360px;
      padding: 30px;
      border-radius: 20px;
      .modal__btn {
        line-height: 30px;
      }
    }
  }
}

@media screen and (max-width: $PHONE-VW) {
  .modal {
    .modal__box {
      width: vw-p(360px);
      padding: vw-p(30px);
      border-radius: vw-p(20px);
      .modal__btn {
        line-height: vw-p(30px);
      }
    }
  }
}
