.navbar {
  display: flex;
  flex-direction: row;
  width: (1440px);
  height: (70px);
  position: fixed;
  top: 0;
  justify-content: space-between;
  padding: 0 (62px);
  align-items: center;
}

.menu {
  width: (36px);
  height: (24px);
  //   &:hover {
  //     background-color: white;
  //     padding: vw(24px);
  //     border-radius: 50%;
  //   }
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: $DESKTOP-VW) {
  .navbar {
    display: flex;
    flex-direction: row;
    width: vw(1440px);
    height: (70px);
    position: fixed;
    top: 0;
    justify-content: space-between;
    padding: 0 vw(62px);
    align-items: center;
  }

  .menu {
    width: vw(36px);
    height: vw(24px);
    //   &:hover {
    //     background-color: white;
    //     padding: vw(24px);
    //     border-radius: 50%;
    //   }
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
