.navbar,
.navbar_main {
  width: (1440px);
  height: (60px);
  position: fixed;
  top: 0;
  justify-content: space-between;
  padding: 0 (62px);
  align-items: center;
}
.navbar_main {
  background-color: transparent;
}
.navbar {
  background-color: $WHITE;
}
.logo {
  width: 60px;
  overflow: hidden;
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.menu {
  width: (36px);
  height: (24px);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: $DESKTOP-VW) {
  .navbar,
  .navbar_main {
    width: vw(1440px);
    height: (60px);
    padding: 0 (62px);
  }

  .menu {
    width: (36px);
    height: (24px);
  }
}

@media screen and (max-width: $TABLET-VW) {
  .navbar,
  .navbar_main {
    width: (390px);
    height: (40px);
    padding: 0 (20px);
  }

  .menu {
    width: (18px);
    height: (12px);
  }
  .logo {
    width: 30px;
    overflow: hidden;
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: $PHONE-VW) {
  .navbar,
  .navbar_main {
    width: vw-p(390px);
    height: (40px);
    padding: 0 vw-p(20px);
  }

  .menu {
    width: (18px);
    height: (12px);
  }
}
