.navbar,
.navbar_main {
  width: (1440px);
  height: (70px);
  position: fixed;
  top: 0;
  justify-content: space-between;
  padding: 0 (62px);
  align-items: center;
}

.navbar_main {
  background-color: transparent;
}
.navbar {
  background-color: $WHITE;
}

.menu {
  width: (36px);
  height: (24px);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: $DESKTOP-VW) {
  .navbar,
  .navbar_main {
    width: vw(1440px);
    height: (70px);
    padding: 0 vw(62px);
  }

  .menu {
    width: vw(36px);
    height: vw(24px);
  }
}

@media screen and (max-width: $TABLET-VW) {
  .navbar,
  .navbar_main {
    width: vw-t(1440px);
    height: (70px);
    padding: 0 vw-t(62px);
  }

  .menu {
    width: vw-t(36px);
    height: vw-t(24px);
  }
}

@media screen and (max-width: $PHONE-VW) {
  .navbar,
  .navbar_main {
    width: vw-p(1440px);
    height: (70px);
    padding: 0 vw-p(62px);
  }

  .menu {
    width: vw-p(36px);
    height: vw-p(24px);
  }
}
