.step {
  margin-top: (200px);
  align-items: flex-end;
  .num {
    color: $GRAY-5B;
    margin-bottom: (20px);
  }
  .bar {
    background-color: $GRAY-ED;
    border-radius: (46px);
    height: (20px);
    width: (627px);
    div {
      background-color: $MAIN;
      height: 100%;
      width: 10%;
      border-radius: (46px);
    }
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  .step {
    margin-top: vw(200px);
    .num {
      margin-bottom: vw(20px);
    }
    .bar {
      border-radius: vw(46px);
      height: vw(20px);
      width: vw(627px);
      div {
        border-radius: vw(46px);
      }
    }
  }
}

@media screen and (max-width: $TABLET-VW) {
  .step {
    margin-top: (100px);
    .num {
      font-size: (16px);
      margin-bottom: (20px);
    }
    .bar {
      border-radius: (7px);
      height: (16px);
      width: (320px);
      div {
        border-radius: (7px);
      }
    }
  }
}

@media screen and (max-width: $PHONE-VW) {
  .step {
    margin-top: vw-p(100px);
    .num {
      font-size: vw-p(16px);
      margin-bottom: vw-p(20px);
    }
    .bar {
      border-radius: vw-p(7px);
      height: vw-p(16px);
      width: vw-p(320px);
      div {
        border-radius: vw-p(7px);
      }
    }
  }
}
