.theme {
  height: 100%;
  .contents {
    justify-content: space-between;
    // background: linear-gradient(to top, $GRAY-E0 30%, #ffffff 30%);
    .title {
      width: 70%;
      margin: (30px) 0 (34px) 0;
    }
    .box {
      width: 100%;
    }
    .images {
      z-index: 2;
      position: relative;
      width: (1000px);
      margin: (50px) 0 0 0;
      justify-content: space-between;
      :nth-child(2n + 1) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      :nth-child(2) {
        margin-right: 11%;
        width: 15%;
      }
      :nth-child(1) {
        width: 26%;
      }
      :nth-child(3) {
        width: 13%;
      }
    }
    nav {
      position: relative;
      top: -80px;
      z-index: 1;
      padding-top: 100px;
      margin-bottom: -80px;
      width: 100%;
      height: 300px;
      background-color: $GRAY-E0;
    }
    .btn {
      color: $MAIN;
      background-color: $WHITE;
      width: (389px);
      height: (92px);
      border: (8px) solid $MAIN;
      border-radius: (46px);
      &:hover {
        color: $WHITE;
        background-color: $MAIN;
      }
    }
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  .theme {
    .contents {
      .title {
        width: 70%;
        margin: vw(30px) 0 vw(34px) 0;
      }
      .images {
        z-index: 2;
        width: vw(1000px);
        margin: vw(50px) 0 0 0;
      }
      nav {
        top: vw(-80px);
        padding-top: vw(100px);
        margin-bottom: vw(-80px);
        height: vw(300px);
      }
      .btn {
        width: vw(389px);
        height: vw(92px);
        border: vw(8px) solid $MAIN;
        border-radius: vw(46px);
      }
    }
  }
}

@media screen and (max-width: $TABLET-VW) {
  .theme {
    .contents {
      .title {
        width: 90%;
        margin: (40px) 0 (30px) 0;
      }
      p {
        font-size: (20px);
      }
      .images {
        z-index: 2;
        width: (350px);
        margin: (50px) 0 0 0;
        justify-content: center;
        :nth-child(1),
        :nth-child(3) {
          display: none;
        }
        :nth-child(2) {
          margin: 0 0 (20px) 0;
          width: 40%;
        }
      }
      nav {
        top: (-80px);
        padding-top: (100px);
        margin-bottom: (-80px);
        height: (350px);
      }
      .btn {
        font-size: (20px);
        width: (276px);
        height: (70px);
        border: (6px) solid $MAIN;
        border-radius: (46px);
      }
    }
  }
}

@media screen and (max-width: $PHONE-VW) {
  .theme {
    .contents {
      .title {
        width: 90%;
        margin: vw-p(40px) 0 vw-p(30px) 0;
      }
      p {
        font-size: vw-p(20px);
      }
      .images {
        z-index: 2;
        width: vw-p(350px);
        margin: vw-p(50px) 0 0 0;
        :nth-child(2) {
          margin: 0 0 vw-p(20px) 0;
        }
      }
      nav {
        top: vw-p(-80px);
        padding-top: vw-p(100px);
        margin-bottom: vw-p(-80px);
        height: vw-p(350px);
      }
      .btn {
        font-size: vw-p(20px);
        width: vw-p(276px);
        height: vw-p(70px);
        border: vw-p(6px) solid $MAIN;
        border-radius: vw-p(46px);
      }
    }
  }
}
