.question {
  .contents {
    width: (627px);
    margin-top: (20px);
  }
  .title {
    color: $MAIN;
  }
  .ques {
    color: $GRAY-3A;
  }
}
@media screen and (max-width: $DESKTOP-VW) {
  .question {
    .contents {
      width: vw(627px);
      margin-top: vw(20px);
    }
  }
}

@media screen and (max-width: $TABLET-VW) {
  .question {
    .contents {
      width: (320px);
      margin-top: (76px);
    }
  }
}
@media screen and (max-width: $PHONE-VW) {
  .question {
    .contents {
      width: vw-p(320px);
      margin-top: vw-p(76px);
    }
  }
}
