.result {
  height: 100%;
  .contents {
    width: 450px;
    overflow: hidden;
    padding-top: (8px);

    .title {
      color: $GRAY-3A;
      margin-bottom: (28px);
      font-size: (28px);
    }

    .arrowPrevButton,
    .arrowNextButton {
      // background-color: red;
      border-radius: 70%;
      width: (50px);
      height: (50px);
      overflow: hidden;
      &:hover {
        opacity: 0.7;
      }
    }

    .arrowNextButton {
      transform: rotate(180deg);
    }

    .container {
      overflow: hidden;
      width: 500%;
      .ref {
        width: 100%;
      }
    }
    .btns {
      margin-top: (20px);
      .btn {
        font-size: 16px;
        padding: (12px) (24px);
        background-color: $GRAY-BA;
        color: $WHITE;
        border-radius: (18px);
        margin: 0 (14px) 50px 0;
        &:hover {
          background-color: $MAIN;
        }
      }
    }
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  .result {
    .contents {
      width: vw(450px);
      padding-top: vw(8px);
      .title {
        margin-bottom: vw(28px);
        font-size: vw(28px);
      }
      .arrowPrevButton,
      .arrowNextButton {
        width: vw(50px);
        height: vw(50px);
      }
      .btns {
        margin-top: vw(20px);
        .btn {
          font-size: vw(16px);
          padding: vw(12px) vw(24px);
          border-radius: vw(18px);
          margin: 0 vw(14px) vw(50px) 0;
        }
      }
    }
  }
}
@media screen and (max-width: $TABLET-VW) {
  .result {
    .contents {
      padding-top: (10px);
      width: 400px;
      .title {
        font-size: (20px);
        margin-bottom: (30px);
      }

      .arrowPrevButton,
      .arrowNextButton {
        background-color: transparent;
        border-radius: 70%;
        width: (50px);
        height: (50px);
      }

      .btns {
        margin-top: (20px);
        .btn {
          padding: (10px) (18px);
          margin: (15px) (8px) (40px) 0;
          border-radius: (16px);
          font-size: (14px);
        }
      }
    }
  }
}
@media screen and (max-width: $PHONE-VW) {
  .result {
    .contents {
      padding-top: vw-p(10px);

      .title {
        font-size: vw-p(20px);
        margin-bottom: vw-p(30px);
      }

      .arrowPrevButton,
      .arrowNextButton {
        width: vw-p(50px);
        height: vw-p(50px);
      }

      .btns {
        margin-top: vw-p(15px);
        .btn {
          padding: vw-p(10px) vw-p(18px);
          margin: vw-p(15px) vw-p(8px) vw-p(40px) 0;
          border-radius: vw-p(16px);
          font-size: vw-p(14px);
        }
      }
    }
  }
}
