.stations {
  margin-left: (168px);
  padding: (26px) (16px);
  max-width: (768px);
  height: (100px);

  background-color: white;
  border: 1px solid $GRAY_BA;
  border-radius: (20px);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
}

.station {
  padding: (14px) (25px);
  border-radius: (20px);
  color: white;
  white-space: nowrap;
  & + .station {
    margin-left: (16px);
  }
}

.btn {
  margin-left: (16px);
  padding: (14px) (25px);
  width: (180px);
  height: (48px);

  border-radius: (20px);
  color: white;
  background-color: $GRAY_BA;

  &:hover {
    color: black;
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  .stations {
    margin-left: vw(168px);
    padding: vw(26px) vw(16px);
    max-width: vw(768px);
    height: vw(100px);

    border-radius: vw(20px);
  }

  .station {
    padding: vw(14px) vw(25px);
    border-radius: vw(20px);
    & + .station {
      margin-left: vw(16px);
    }
  }

  .btn {
    margin-left: vw(16px);
    padding: vw(14px) vw(25px);
    width: vw(180px);
    height: vw(48px);

    border-radius: vw(20px);
  }
}
