@mixin box {
  padding: (12px);

  width: (286px);
  height: (48px);

  background-color: white;
  box-shadow: 1px 0 0 0 $GRAY_BA, 0 1px 0 0 $GRAY_BA, 1px 0 0 0 $GRAY_BA inset,
    0 1px 0 0 $GRAY_BA inset, 1px 1px 0 0 $GRAY_BA;
}

.input {
  @include box();
  width: (290px);
  box-shadow: none;
  border: 1px solid $GRAY_BA;
  font-size: 20px;
}
.ul {
  max-height: (481px);
  overflow-y: scroll;
  overflow-x: none;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: gray;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  .li {
    @include box();
    &:hover {
      cursor: pointer;
      background-color: aliceblue;
    }

    span {
      &:hover {
        transform: none;
      }
      & + span {
        margin-left: (4px);
      }
      &:nth-last-child(1) {
        font-size: (16px);
        margin-left: (8px);
      }
    }
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  @mixin box {
    padding: vw(12px);

    width: vw(286px);
    height: vw(48px);
  }

  .input {
    @include box();
    width: vw(290px);
    font-size: vw(20px);
  }
  .ul {
    max-height: vw(481px);
    .li {
      @include box();

      span {
        & + span {
          margin-left: vw(4px);
        }
        &:nth-last-child(1) {
          font-size: vw(16px);
          margin-left: vw(8px);
        }
      }
    }
  }
}

@media screen and (max-width: $TABLET-VW) {
  @mixin box {
    padding: 10px;
    height: 40px;
  }

  .input {
    @include box();
    width: 390px;
    font-size: 16px;
  }
  .ul {
    max-height: (160px);
    display: flex;
    flex-wrap: wrap;
    .li {
      @include box();
      width: 50%;
      span {
        & + span {
          margin-left: (4px);
        }
        &:nth-last-child(1) {
          font-size: (16px);
          margin-left: (8px);
        }
      }
    }
  }
}

@media screen and (max-width: $PHONE-VW) {
  @mixin box {
    padding: vw-p(10px);
    height: vw-p(40px);
  }

  .input {
    @include box();
    width: vw-p(390px);
    font-size: vw-p(16px);
  }

  .ul {
    display: flex;
    flex-wrap: wrap;
    .li {
      @include box();
      span {
        & + span {
          margin-left: vw-p(4px);
        }
        &:nth-last-child(1) {
          font-size: vw-p(16px);
          margin-left: vw-p(8px);
        }
      }
    }
  }
}
