.stations {
  margin-left: (168px);
  padding: 0 (16px);
  max-width: (768px);
  height: (88px);

  background-color: white;
  border: 1px solid $GRAY_BA;
  border-radius: (20px);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
}

.station {
  width: min-content;
  height: 40px;

  padding: (14px) (25px);
  border-radius: (20px);
  white-space: nowrap;
  font-size: 24px;
  & + .station {
    margin-left: (16px);
  }

  .circleContainer {
    margin-bottom: (8px);
    .circle {
      width: (12px);
      height: (12px);
      border-radius: 50%;

      & + .circle {
        margin-left: (4px);
      }
    }
  }
}

.btn {
  margin-left: (20px);
  width: (200px);
  height: (72px);

  border-radius: (20px);
  color: $MAIN;
  background-color: $WHITE;
  border: 6px solid $MAIN;

  box-shadow: 0px 0px 2px 2px $SUB_PINK;

  &:hover {
    color: $WHITE;
    background-color: $MAIN;
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  .stations {
    margin-left: vw(168px);
    padding: 0 vw(16px);
    max-width: vw(768px);
    height: vw(88px);

    border-radius: vw(20px);
  }

  .station {
    height: vw(40px);
    padding: vw(14px) vw(25px);
    border-radius: vw(20px);
    font-size: vw(20px);
    & + .station {
      margin-left: vw(16px);
    }
  }

  .circleContainer {
    margin-bottom: vw(8px);
    .circle {
      width: vw(12px);
      height: vw(12px);
      border-radius: 50%;

      & + .circle {
        margin-left: vw(4px);
      }
    }
  }
  .btn {
    margin-left: vw(20px);
    width: vw(200px);
    height: vw(72px);

    border-radius: vw(20px);
    border: vw(6px) solid $MAIN;
  }
}

@media screen and (max-width: $TABLET-VW) {
  .stations {
    margin-left: 0;
    padding: 0 (19px);
    max-width: (350px);
    height: (80px);

    border-radius: (20px);
  }

  .station {
    padding: 10px (16px);
    height: 42px;
    border-radius: (20px);
    font-size: (14px);
    & + .station {
      margin-left: (16px);
    }
  }

  .btn {
    margin-left: 0;
    margin-top: (20px);
    padding: (14px) (25px);
    width: (180px);
    height: (48px);

    font-size: (16px);
    border-radius: (16px);
    border: (4px) solid $MAIN;
  }
}

@media screen and (max-width: $PHONE-VW) {
  .stations {
    margin-left: 0;
    padding: 0 vw-p(19px);
    max-width: vw-p(350px);
    height: vw-p(80px);

    border-radius: vw-p(20px);
  }

  .station {
    padding: vw-p(10px) vw-p(16px);
    height: vw-p(42px);
    border-radius: vw-p(20px);
    font-size: vw-p(14px);
    & + .station {
      margin-left: vw-p(16px);
    }
  }

  .btn {
    margin-left: 0;
    margin-top: vw(20px);
    padding: vw(14px) vw(25px);
    width: vw(180px);
    height: vw(48px);

    font-size: vw(16px);
    border-radius: vw(16px);
    border: vw(4px) solid $MAIN;
  }
}
