.home {
  // width: 100%;
  width: 1440px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url("../public/images/empty.png");
  .contents {
    // width: vw(1440px);
    height: 100%;
    .subtitle {
      color: $GRAY_3A;
      margin: (168px) 0 (50px) 0;
    }
    .title {
      color: $MAIN;
      margin-bottom: (100px);
    }
    .btn {
      color: $MAIN;
      background-color: $WHITE;
      width: (360px);
      height: (90px);
      border-radius: (46px);
      border: (8px) solid #3f833a;
      &:hover {
        color: $WHITE;
        background-color: $MAIN;
      }
    }
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  .home {
    // width: 100%;
    width: vw(1440px);
    .contents {
      .subtitle {
        margin: vw(168px) 0 vw(50px) 0;
      }
      .title {
        margin-bottom: vw(100px);
      }
      .btn {
        width: vw(360px);
        height: vw(90px);
        border-radius: vw(46px);
        border: vw(8px) solid #3f833a;
      }
    }
  }
}

@media screen and (max-width: $TABLET-VW) {
  .home {
    // width: 100%;
    width: vw-t(1440px);
    .contents {
      .subtitle {
        margin: vw-t(168px) 0 vw-t(50px) 0;
      }
      .title {
        margin-bottom: vw-t(100px);
      }
      .btn {
        width: vw-t(360px);
        height: vw-t(90px);
        border-radius: vw-t(46px);
        border: vw-t(8px) solid #3f833a;
      }
    }
  }
}

@media screen and (max-width: $PHONE-VW) {
  .home {
    // width: 100%;
    width: vw-p(1440px);
    .contents {
      .subtitle {
        margin: vw-p(168px) 0 vw(50px) 0;
      }
      .title {
        margin-bottom: vw-p(100px);
      }
      .btn {
        width: vw-p(360px);
        height: vw-p(90px);
        border-radius: vw-p(46px);
        border: vw-p(8px) solid #3f833a;
      }
    }
  }
}
