// colors

// main colors
$BLACK: #000000;
$WHITE: #ffffff;
$MAIN: #e53060;
$SUB_PINK: #e36478;
// social colors
$KAKAO_YELLOW: #ffeb00;
$KAKAO_BROWN: #3c1e1e;

// alert colors
$RED: #ff1616;
$BLUE: #0038ff;

// subway line
$L1: #052f93;
$L2: #10a643;
$L3: #ea8406;
$L4: #00a8e6;
$L5: #a95094;
$L6: #d08d1a;
$L7: #657931;
$L8: #e74e6d;
$L9: #be941c;
$LK: #79c0a0;
$LB: #dbba16;
$LS: #cd2234;
$LW: #878787;
$LSL: #3399ff;

// subway
$SUB_YELLOW: #ffe040;

// gray
$GRAY_3A: #3a3a3a;
$GRAY_3C: #3c3c3c;
$GRAY_5B: #5b5b5b;
$GRAY_ED: #ededed;
$GRAY_E0: #e0e0e0;
$GRAY_1B: #1b212f;
$GRAY_5F: #5f5f5f;
$GRAY_1B: #1b212f;
$GRAY_BA: #bab5b5;
$GRAY_9E: #9e9c9c;
$GRAY_D9: #d9d9d9;
