// colors

// main colors
$BLACK: #000000;
$WHITE: #ffffff;
$MAIN_YELLOW: #fdda30;
$MAIN_BROWN: #d77d20;
$MAIN_GRAY: #9c9c9c;
$SKELETON: #c4c4c4;
// social colors
$KAKAO_YELLOW: #ffeb00;
$KAKAO_BROWN: #3c1e1e;
$NAVER: #03c75a;

// alert colors
$RED: #ff1616;
$BLUE: #0038ff;

//임시 변수
$HEADER_TOOLTIP: #fffacd;

// GRAY
$GRAY_CB: #cbcbcb;
$GRAY_DB: #dbdbdb; // box border, btn border,
$GRAY_76: #767676; // nav login text,
$GRAY_61: #616161; // nav menu text
$GRAY_F3: #f3f3f3;
$GRAY_9E: #9e9e9e; // input text
$GRAY_32: #323232; // text
$GRAY_ED: #ededed;
