// colors

// main colors
$BLACK: #000000;
$WHITE: #ffffff;
$MAIN: #3F833A;
// social colors
$KAKAO_YELLOW: #ffeb00;
$KAKAO_BROWN: #3c1e1e;

// alert colors
$RED: #ff1616;
$BLUE: #0038ff;

// subway line
$L1 : #052F93;
$L2 : #10A643;
$L3 : #EA8406;
$L4 : #00A8E6;
$L5 : #A95094;
$L6 : #D08D1A;
$L7 : #657931;
$L8 : #E74E6D;
$L9 : #BE941C;
$LK : #79C0A0;
$LB : #DBBA16;
$LS : #CD2234;
$LW : #878787;
$LSL : #3399FF;

// subway
$SUB_YELLOW : #FFE040;

// gray
$GRAY_3A : #3A3A3A;
$GRAY_3C : #3C3C3C;
$GRAY_5B : #5B5B5B;
$GRAY_ED : #EDEDED;
$GRAY_E0 : #E0E0E0;
$GRAY_1B : #1B212F;
$GRAY_5F : #5F5F5F;
$GRAY_1B : #1B212F;
$GRAY_BA : #BAB5B5;
$GRAY_9E : #9E9C9C;
$GRAY_D9 : #D9D9D9;






